<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info">
        <strong>Info! </strong> Select a train station from the drop down below to see deatails.</div>
    </div>
  </div>
  <div class="row select">
    <div class="col-md-8">
      <select [(ngModel)]="selectedStation" class="form-control" (ngModelChange)="stationsTrain($event)">
        <option [ngValue]="default" disabled>--Select a station--</option>
        <option *ngFor="let station of stations let i = index" [ngValue]='station.stationShortCode'>{{station.stationName}} - {{station.stationShortCode}} </option>
      </select>
    </div>
  </div>
  
  <div class="panel panel-primary item">
    <div class="panel-heading"><h3>Train Composition Viewer</h3></div>
    <div class="row">
      <div class="col-md-4" *ngFor="let trainNumber of trainNumbers;let i=index">
        <div class="item train-info" [ngClass]="{ 'active': selected == i }" (click)="trainCompositions(trainNumber.trainNumber, trainNumber.departureDate, i)">
        <!-- trainType + trainNumber    beginStation - endStation -->
          <div>Train Type: {{trainNumber.trainType}}</div>
          <div>Train Number: {{trainNumber.trainNumber}}</div>
        </div>
      </div>
    </div>
  </div>
  <train-composition *ngIf="compositionObj !== undefined" [columns]="compositionObj"></train-composition>
</div>