<div class="container">
  <h3>{{errorMsg}}</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info">
        <strong>Info! </strong> 
        <ul>
          <li>Select a train station from the drop down below to see details.</li>
          <li>Click on the train and scroll down to view train Compositions</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row select">
    <div class="col-md-8">
      <select [(ngModel)]="selectedStation" class="form-control" (ngModelChange)="stationsTrain($event)">
        <option [ngValue]="default" disabled>--Select a station--</option>
        <option *ngFor="let station of stations let i = index" [ngValue]='station.stationShortCode'>{{station.stationName}} - {{station.stationShortCode}} </option>
      </select>
    </div>
  </div>
  
  <div class="panel panel-primary item">
    <div class="panel-heading"><h3>Train Composition Viewer</h3></div>
    <br/>
    <div class="row" *ngIf="trainNumbers.length == 0">
      <div class="col-md-12">
        <div class="alert alert-danger">
            No Train Details!
        </div>
      </div>
    </div>
    <div class="row" *ngIf="trainNumbers.length > 0">
      <div class="col-md-4" *ngFor="let trainNumber of trainNumbers;let i=index">
        <div class="item train-info" [ngClass]="{ 'active': selected == i && checked }" (click)="trainCompositions(trainNumber.trainNumber, trainNumber.departureDate, i)">
        <!-- trainType + trainNumber    beginStation - endStation -->
          <div class="pull-left">
            <div>Train Type: {{trainNumber.trainType}}</div>
            <div>Train Number: {{trainNumber.trainNumber}}</div>
          </div>
          <div class="pull-right">
            <div class="moving-train" *ngIf="compositionObj.journeySections !== undefined && selected == i && checked">Moving</div>
            <div class="not-moving-train" *ngIf="compositionObj.journeySections == undefined && selected == i && checked">Not Moving</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <train-composition *ngIf="compositionObj !== undefined" [columns]="compositionObj"></train-composition>
</div>
<footer>footer - copyright 2001 - Charles Okojie</footer>